{% extends "base.html" %}

{% block content %}

    {% if validlink %}
        <p> Wprowadź i potwierdź nowe hasło. </p>
        <form action="" method="post">
            <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td> {{ form.new_password1.errors }}
                        <label for="id_new_password1"> Nowe hasło: </label></td>
                    <td> {{ form.new_password1 }} </td>
                </tr>
                <tr>
                    <td> {{ form.new_password2.errors }}
                        <label for="id_new_password2"> Nowe hasło: </label></td>
                    <td> {{ form.new_password2 }} </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Zmień hasło" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h2> Nie powiodła się zmiana hasła </h2>
        <p> Link do zmiany hasła jest niepoprawny, prawdopodobnie dlatego, że już był użyty. Zażądaj ponownej zmiany hasła. </p>
    {% endif %}

{% endblock content %}
