{% extends "base_main.html" %}

{% block title %} Kategorie wydatków {% endblock title %} 

{% block head_extra %}
<style>
th, td {
    font-size: 90%;
}
</style>
{% endblock head_extra %}

{% block main_block %}
	<h4> Kategorie wydatków </h4>
    <table class="table table-sm">
        <thead
            <tr>
                <th> Nazwa </th>
                <th> Suma wydatków</th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
        {% for e in object_list %}
            <tr>
                <td><b> {{ e.name }} </b></td>
                <td>  
                    {% for cat, exp in category_expenses.items %}
                        {% if cat == e.name %}
                            {{ exp }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td> <a class="btn btn-outline-warning btn-sm" href="{% url 'category-update' e.pk %}"> Edytuj </a> </td>
                <td> <a class="btn btn-outline-danger btn-sm" href="{% url 'category-delete' e.pk %}"> Usuń </a> </td>
            </tr>
            {% empty %}
                <p> Brak kategorii </p>
        {% endfor %}
        </tbody>
    </table>
    {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}"> &laquo; </a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="active"><span> {{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}"> &raquo; </a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>

    {% endif %}
	<hr noshade>
	<p> Ilość kategorii: {{ amount }} </p>

    <p><a class="btn btn-outline-primary btn-sm" href="{% url 'category-add' %}"> Dodaj kategorię</a></p>

{% endblock main_block %}
