{% extends "base.html" %}

{% block title %} Lista kategorii{% endblock title %} 

{% block content %}
	<h1> Lista kategorii </h1>
	{% for e in object_list %}
		<p><a href="{{ e.get_absolute_url }}"> {{ e.name }}</a></p>
	{% empty %}
		<p> Brak kategorii </p>
	{% endfor %}

    {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}"> &laquo; </a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="active"><span> {{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}"> &raquo; </a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>

    {% endif %}
	<hr noshade>
	<p> Ilość kategorii: {{ amount }} </p>
	<a href="{% url 'category-add' %}"> Dodaj kategorię </a> </br>
{% endblock content %}
