{% extends "base_main.html" %}

{% block title %} Wydatki {% endblock title %}

{% block head_extra %}
<style>
p, th, td {
    font-size: 90%;
}
</style>
{% endblock head_extra %}


{% block main_block %}
<h4> Wydatki </h4>
<table class="table table-sm">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Kategoria</th>
      <th>Miejsce</th>
      <th>Portfel</th>
      <th>Data</th>
      <th>Cena</th>
    </tr>
  </thead>
  <tbody>

    {% for e in expense_list %}
    <tr>
      <td><b>{{ e.name }}</b></td>
      <td>{{ e.category }}</td>
      <td>{{ e.place }}</td>
      <td>{{ e.pocket }}</td>
      <td>{{ e.exp_date }}</td>
      <td>{{ e.price }}</td>
      <td><a class="btn btn-outline-warning btn-sm" href="{% url 'expense-update' e.pk %}"> Edytuj </a></td>
      <td><a class="btn btn-outline-danger btn-sm" href="{% url 'expense-delete' e.pk %}"> Usuń </a></td>

    </tr>
    {% empty %}
        <p><b> Brak wydatków </b></p>

{% endfor %}
  </tbody>
</table>
	<hr noshade>
	<p> Suma wydatków: {{ sum|floatformat:2 }} </p>

<p><a class="btn btn-outline-primary btn-sm" href="{% url 'expense-add' %}"> Dodaj wydatek </a></p>

{% endblock main_block %}

