{% extends "base.html" %}

{% block title %} {% endblock title %}

{% block content %}
<a href="{% url 'expense-list' %}">Lista wydatków </a></br>
<a href="{% url 'category-list' %}">Lista kategorii</a></br>
<a href="{% url 'pocket-list' %}">Lista portfeli</a></br>
<a href="{% url 'place-list' %}">Lista miejsc</a></br>
<a href="{% url 'reminder-list' %}">Lista przypomnień</a></br>
<a href="{% url 'income-list' %}">Lista dochodów</a></br>
<a href="{% url 'income-source-list' %}">Lista źródeł dochodów</a></br>


{% endblock content %}
