{% extends "base_main.html" %}

{% block title %} Przypomnienia {% endblock title %} 

{% block head_extra %}
<style>
th, td {
    font-size: 90%;
}
</style>
{% endblock head_extra %}

{% block main_block %}
	<h4> Przypomnienia </h4>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Wiadomość</th>
          <th>Data przypomnienia</th>
          <th>Data wykonania</th>
          <th>Priorytet</th>
          <th> </th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
	    {% for e in object_list %}
        <tr> 
            <td><b>{{ e.message }} </b></td>
            <td> {{ e.as_before }} </td>
            <td> {{ e.remind_date }} </td>
            <td> {{ e.importance }} </td>
            <td><a class="btn btn-outline-warning btn-sm" href="{% url 'reminder-update' e.pk %}"> Edytuj </a></td>
            <td><a class="btn btn-outline-danger btn-sm" href="{% url 'reminder-delete' e.pk %}"> Usuń </a></td>
        {% empty %}
                <p> Brak przypomnień </p>
        </tr>
        {% endfor %}
    </tbody>
</table>

    {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}"> &laquo; </a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="active"><span> {{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}"> &raquo; </a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>

    {% endif %}
	<hr noshade>
	<p> Ilość przypomnień: {{ amount }} </p>


    <a class="btn btn-outline-primary btn-sm" href="{% url 'reminder-add' %}"> Dodaj przypominenie </a>

{% endblock main_block%}
