<!doctype html>

<html lang="pl">
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>{% block title %} {% endblock title %}</title>
    {% block head %} {% endblock head %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <style>
    img {
        max-width: 90%;
    }
    </style>
</head>

<body>

<div class="container">
	<div class="row">
        <div class="col-md-2">
            <img src="{{ user.user_profile.picture.url }}" alt="avatar" />
            <p> {{ user.user_profile.age }} </p>
            Info o użytkowniku (avatar, userneme, ...) </br>
            Filtrowanie itp.
            <div>
                {% if user.is_authenticated %}
                    
                <p><b> {{ user.get_username }} </b></p>
                {% if user.first_name %}
                    <p><b> {{ user.first_name }} </b></p>
                {% endif %}
                <a href="{% url 'user-detail' user.pk %}"> Dane konta </a></br>
                    <a href="{% url 'logout' %}?next={{ request.path }}">Wyloguj </a> </br>
                {% else %}
                        <a href="{% url 'login' %}?next={{ request.path }}"> Zaloguj </a>
                {% endif %}
            </div>
        </div>
        <div class="col-md-7">
            {% block content %}

            {% endblock content %}

            <a href="{% url 'index' %}">Powrót do głównej </a> </br>
            <hr noshade>	
        </div>
        <div class="col-md-3">
        Listy "szybkiego dostępu" (kategorie, portfele, ...)
	</div>
</div>

	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</body>
</html>
