{% extends "base.html" %}

{% block head %}
<title> {% block title %} {% endblock title %} </title> 
<style>
html, body {
    height: 100vh;
}
.test-size {
    border-style: solid;
    border-color: red;
    height: 90%;
}
</style>
{% endblock head %}


{% block content %}
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <a class="navbar-brand mr-auto" href="{% url 'index' %}">MojeFinanse</a>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                {% if user.is_authenticated %}
                    
                    {{ user.get_username }}
        </a>
                    <div class="dropdown-menu dropdown-menu-right"  aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'user-detail' user.pk %}">Dane konta</a>
                        <a class="dropdown-item" href="{% url 'logout' %}?next={{ request.path }}">Wyloguj</a>
                    </div>
              {% endif %}
      </li>
    </ul>
</nav>

<div class="row" style="height: 90%;">
    <div class="col-md-2 mt-3">
        <div class="card h-100">
            <div class="card-block">
                <a class="text-muted" href="{% url 'expense-list' %}">Wydatki </a></br>
                <a class="text-muted" href="{% url 'category-list' %}">Kategorie</a></br>
                <a class="text-muted" href="{% url 'pocket-list' %}">Portfele</a></br>
                <a class="text-muted" href="{% url 'place-list' %}">Miejsca</a></br>
                <a class="text-muted" href="{% url 'reminder-list' %}">Przypomnienia</a></br>
                <a class="text-muted" href="{% url 'income-list' %}">Dochody</a></br>
                <a class="text-muted" href="{% url 'income-source-list' %}">Żródła dochodów</a></br>
            </div>
        </div>
    </div>
    <div class="col-md-10 mt-3">
        <div class="card h-100">
            <div class="card-block">
        
                {% block main_block %}

                {%  endblock main_block %}

            </div>
        </div>
    </div>
</div>



 {% endblock content %}
